# TRANSFORM VARIABLES
export COLLECTION=conservation-area
export DATASET=conservation-area
export DATASET_NAME=conservation-area
export TRANSFORMATION_OFFSET=1200
export TRANSFORMATION_LIMIT=200
# export REPROCESS=''
